{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
 {{ super() }}
{% endblock %}

{% block headline %}Welcome!{% endblock %}
{% block menu_enable%}{% endblock %}
{% block content %}
      <div class="jumbotron modal-body" style="width: 200px;" >
        <form method="POST" action="/login" role="form">
          <div class="form-group">
            <label for="userid">User name:</label>
            <input type="text" class="form-control" name="login" id="userid">
          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" name="password" id="password">
          </div>
          <button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Login into application">Login</button><br>
           <br> <a href="register">Enter test as guest</a>
       </form>
          <br><div class="bg-danger">{{msg}}</div>
      </div>
{% endblock %}


