{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
 {{ super() }}
{% endblock %}

{% block headline %}Here are your answers{% endblock %}

{% block content %}
    <ul class="list-group">
    {% for image_name, one_answer in answers.items() %}
    <li class="list-group-item" style="width:330px;">
        <span class="badge">{{one_answer}}</span>
        <img src="{{url_for('static', filename='img/' +image_name + '.jpg')}}">
    </li>
    {% endfor %}
    </ul>
{% endblock %}