{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
 {{ super() }}
{% endblock %}

{% block headline %}Add more entries{% endblock %}

{% block content %}
  <div class="jumbotron modal-body" style="width: 320px;" >
    <form method="POST" action="/add_spell" role="form" enctype="multipart/form-data" accept="image/gif,image/jpeg, image/png">
      <div class="form-group">
        <label for="image_name">Image name:</label>
        <input type="file" class="form-control" name="image_name" id="image_name">
      </div>
      <div class="form-group">
        <label for="arr_letter">Possible letters(sep by comma): </label>
        <input type="text" class="form-control" name="arr_letter" id="arr_letter">
      </div>
      <div class="form-group">
        <label for="answer">Answer: </label>
        <input type="text" class="form-control" name="answer" id="answer">
      </div>
        <div class="form-group">
        <label for="level">Difficult level: </label>
        <input type="text" class="form-control" name="level" id="level">
      </div>
      <button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Add">Add</button><br>
   </form>
      <br><div class="bg-danger">{{err}}</div>
      <br><div class="bg-info">{{msg}}</div>
  </div>
{% endblock %}
